.heading {
  font-size: 2.5rem;
  line-height: 4rem;
  min-width: 40%;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 4rem;

  color: var(--dark);
}

.img {
  position: relative;
  width: 100%;
  height: auto;
}

.paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  color: var(--gray);
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex section {
  flex: 1;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    gap: 2rem;
  }
}
