.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}
.cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .cover {
    flex-wrap: wrap-reverse;
  }

  .cover h1 {
    text-align: center;
  }
}
